.icon {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
  &:hover {
    transform: scale(1.1);
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__text {
    margin-top: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    &_grey {
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      letter-spacing: 0.16px;
      color: #757575;
    }
  }
  &__photos {
    justify-content: space-between;
  }
  &__facetime {
    background: linear-gradient(180deg, #5cf777 0%, #0ebc29 100%);
  }
  &__camera {
    background: linear-gradient(180deg, #e5e4eb 0%, #8f8e92 100%);
  }
  &__mail {
    background: linear-gradient(180deg, #1a6ae7 0%, #20c2f4 100%);
  }
  &__clock {
    background: #202020;
  }
  &__appleTV {
    background: linear-gradient(180deg, #323232 0%, #111111 100%);
  }
  &__appStore {
    background: linear-gradient(180deg, #15c7fa 0%, #216ff0 100%);
  }
  &__settings {
    background: linear-gradient(180deg, #eaeaea 0%, #8f8f93 100%);
  }
  &__music {
    background: linear-gradient(180deg, #fb5976 0%, #fa243b 100%);
  }
  &__messages {
    background: linear-gradient(180deg, #5cf777 0%, #0ebc29 100%);
  }
  &__contacts {
    background: linear-gradient(180deg, #5cf777 0%, #0ebc29 100%);
  }
  &__contactsNum {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: rgba(245, 245, 245, 0.15);
    mix-blend-mode: normal;

    .letters {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      letter-spacing: 0.1px;
    }
    &:hover {
      background: lighten($color: rgba(245, 245, 245, 0.15), $amount: 1);
    }
  }
  &__contactsBottomAction {
    background: transparent;
    width: 40px;
    height: 40px;
    transition: fill 0.5s, color 0.8s, transform 0.6s;
    svg {
      path {
        fill: #9d9d9d;
      }
    }
    &-active {
      svg {
        path {
          fill: #2f80ed;
        }
      }
      .icon__text_grey {
        color: #2f80ed;
      }
    }
  }
  &__flashlight,
  &__cameraAction {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: rgba(245, 245, 245, 0.15);
    mix-blend-mode: normal;
    backdrop-filter: blur(40px);
  }
}
