@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFpro/SFProText-Regular.ttf") format("ttf");
  font-weight: 400; /* эквивалентно "normal" */
  font-style: normal;
}

/* Жирный */
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFpro/SFProText-Bold.ttf") format("ttf");
  font-weight: 700; /* эквивалентно "bold" */
  font-style: normal;
}

/* Полужирный */
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFpro/SFProText-Medium.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

/* Легкий */
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFpro/SFProText-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFpro/SFProText-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

/* Жирный */
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFpro/SFProText-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

/* Полужирный */
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFpro/SFProText-Medium.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

/* Легкий */
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFpro/SFProText-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
