@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import "./libs/animate.min.scss";
@import "./blocks/blocks.scss";
//noinspection ALL,CssUnknownTarget
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #fff;
  background: url("../img/background/main_bg.svg") center no-repeat;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s all;
}
